.div-yellow {
    /* border: 2px solid gold; */
    background-color: gold;
    font-weight: bold;
    font-size: 16px;
    width: fit-content;
    padding: 16px;
    margin-top: -11px;
    margin-left: -10px;
    position: fixed;
}

.div-img {
    text-align: center;
}

.rabbit {
    width: 533px;
    height: 380px;
    margin-top: -50px;
    margin-bottom: 13px;
}

.panda {
    width: 533px;
    height: 600px;
    margin-bottom: 13px;
}

.bird {
    width: 533px;
    height: 510px;
    margin-bottom: 100px;
}